<!DOCTYPE HTML>
<html>
    <head>
        <!-- NAVBAR -->
        {% include 'menu.twig' %}
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Menu principal</title>
        <link rel="stylesheet" href="css/lobby.css" />
    </head>
    
    <body>
        <script>
            var currentPage = document.getElementsByClassName('home')[0];
            currentPage = currentPage.getElementsByTagName('a')[0];
            currentPage.classList.add('active');
        </script>
        <!-- Liste de tous les membres -->
        <div class="members__block"> 
            <table id="stat">
                <caption>Statistiques des membres</caption>
                <th>Joueur </th>
                <th>Games </th>
                <th>Kills </th>
                <th>Deaths </th>
        <!--TWIG PART : Affiche tous les users de la database -->
                {% for elt in users %}
                    <tr>
                        <td>{{elt.login}}</td> 
                        <td>{{elt.games}}</td> 
                        <td>{{elt.kills}}</td> 
                        <td>{{elt.deaths}}</td> 
                    </tr>
                    
                {% endfor %}
                
            </table>
        </div>
        
        <!-- Liste de tous les membres connectés -->
        <table>
            <caption>Membres connectes</caption>
                <th>Joueur </th>
                <th>Games </th>
                <th>Kills </th>
                <th>Deaths </th>
        
            {% for elt in users %}
                {% for pseudo in connectes %}
                    {% if pseudo == elt.login %}
                    <tr>
                        <td>{{elt.login}}</td> 
                        <td>{{elt.games}}</td> 
                        <td>{{elt.kills}}</td> 
                        <td>{{elt.deaths}}</td> 
                        <br>
                    </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    </body>
</html>



