<h1 style="text-align:center">Bienvenue {{ nom }} !</h1>

<a id="lobby" style="text-align:center" href="/lobby">Jouer</a>

<p>Statistiques de tous les membres</p>
<table>
    <th>Joueur </th>
    <th>Nombre de parties </th>
    <th>Parties gagnées </th>

    {% for elt in users %}
            <tr>
                <td>{{elt.login}}</td> 
                <td>{{elt.nb_parties}}</td> 
                <td>{{elt.nb_p_gagnees}}</td> 
                <br>
            </tr>
    {% endfor %}
</table>

<p>Membres connectés</p>

<table>
    <th>Joueur </th>
    <th>Nombre de parties </th>
    <th>Parties gagnées </th>

    {% for elt in users %}
        {% for pseudo in connectes %}
            {% if pseudo == elt.login %}
            <tr>
                <td>{{elt.login}}</td> 
                <td>{{elt.nb_parties}}</td> 
                <td>{{elt.nb_p_gagnees}}</td> 
                <br>
            </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
</table>

    <script src="/socket.io/socket.io.js"></script>
    <script>
    // Récupération du login de l'utilisateur
    var pseudo = "{{nom}}";
    var socket = io();
        
        // Envoyer au serveur Socket.IO les joueurs qui se connectent
        socket.emit('sendPseudo', pseudo);
    </script>

<a href="/logout">Se déconnecter</a> 
</form>
